.header {
    color: steelblue;
    text-align: center;
}

body {
    background-color: lightgrey;
    text-align: center;
}

.tableHeader {
    color: darkslategray;
    text-align: center;
}

.table {
    color: olivedrab;
    text-align: left;
    margin-left:auto;
    margin-right:auto;
}